fastapi
uvicorn
sqlalchemy
aiosqlite
python-dotenv
python-multipart
firebase-admin
python-jose
passlib[bcrypt]
bcrypt
pandas
openpyxl
pillow
aiofiles
gtts
google-generativeai
elevenlabs
slowapi
pydantic
asyncpg
